* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  font-size: 62.5%;
  --bg-color: #FFFFFF;
  --bg-color-dark: #121214;
  --components-color: #323238;
  --components-color-dark: #C4C4CC;
  --button-bg: #E1E1E6;
  --button-bg-dark: #29292E;
  --button-selected: #02799D;
  --button-selected-dark: #0A3442;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: grid;
}

body.dark {
  background-color: var(--bg-color-dark);
  color: var(--bg-color);
}

main {
  min-width: 82.1rem;
  margin: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  
  gap: 19.2rem;
}

#timer-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#timer {
  color: var(--components-color);
  font-size: 12.6rem;
  line-height: 14.8rem;
  text-align: center;

  display: flex;
  justify-content: center;
  margin-bottom: 1.7rem;
}

.dark #timer {
  color: var(--bg-color);
}

.dark #controls img,
.dark #sounds img {
  filter: invert(91%) sepia(7%) saturate(191%) hue-rotate(201deg) brightness(87%) contrast(90%);
} 

#controls {
  display: flex;
  gap: 4rem;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

#sounds {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

#sounds button {
  border-radius: 2.4rem;
  width: 13.8rem;
  height: 15.2rem;
  background-color: var(--button-bg);

  display: flex;
  flex-direction: column;
  padding: 2.4rem;
}

.dark #sounds button {
  background-color: var(--button-bg-dark);
}

#sounds button input[type=range],
#sounds button input[type=range]::-webkit-slider-thumb {
  margin-top: 3.2rem;
  -webkit-appearance: none;
  height: 0.4rem;
  border-radius: 0.5rem;
  background-color: var(--components-color); 
}

#sounds button input[type=range]::-ms-thumb {
  margin-top: 3.2rem;
  -webkit-appearance: none;
  height: 0.4rem;
  border-radius: 0.5rem;
  background-color: var(--components-color); 
}

#sounds button input[type=range]::-moz-range-thumb,
#sounds button input[type=range]::-webkit-slider-runnable-track {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  border: none;
  background-color: var(--components-color); 
}

#sounds button input[type=range]::-ms-track {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  border: none;
  background-color: var(--components-color); 
}

.dark #sounds button input[type=range],
.dark #sounds button input[type=range]::-webkit-slider-thumb,
.dark #sounds button input[type=range]::-moz-range-thumb,
.dark #sounds button input[type=range]::-webkit-slider-runnable-track {
  background-color: var(--bg-color);
}

.dark #sounds button input[type=range]::-ms-thumb,
.dark #sounds button input[type=range]::-ms-track {
  background-color: var(--bg-color);
}

#timer-panel {
  width: 32.1rem;
}

#sounds .selected {
  background-color: var(--button-selected);
}

.dark #sounds .selected {
  background-color: var(--button-selected-dark);
}

#sounds .selected img {
  filter: invert(99%) sepia(100%) saturate(1%) hue-rotate(253deg) brightness(107%) contrast(100%);
}

#sounds .selected input[type=range],
#sounds .selected input[type=range]::-webkit-slider-thumb,
#sounds .selected input[type=range]::-moz-range-thumb,
#sounds .selected input[type=range]::-webkit-slider-runnable-track  {
  background-color: #FFFFFF;
}

#sounds .selected input[type=range]::-ms-thumb,
#sounds button input[type=range]::-ms-track {
  background-color: #FFFFFF;
}

.hide {
  display: none;
}

#mode img {
  position: absolute;
  top: 6.4rem;
  right: 6.4rem;
}